.icones-centro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.icone {
  font-size: 100px;
  color: white;
  transition: transform 0.3s, color 0.3s;
  text-decoration: none;
}

.icone:hover {
  transform: scale(1.2) ;
  color: blue; /* muda a cor no hover */
}
